{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav class="container-fluid">
        <h2>MS Dhoni information</h2>
        <img src="{% static 'images/ms.jpg' %}" alt="" height="200px" width="200px">
        <h1>Dhoni (born July 7, 1981, Ranchi, Bihar [now Jharkhand] state, India) 
            Indian cricketer whose rise to prominence in the early 21st century 
            culminated in his captaincy of the Indian national team that won the 
            one-day Cricket World Cup in 2011.Dhoni made his international debut
            in 2004.</h1>
    </nav>
</body>
</html>